<app-menu></app-menu>
<div style="text-align:center">
    <h2>Libros</h2>    
</div>
<div *ngFor='let book of bookArr'>
    <mat-card layout="row" layout-align="center center">
        <mat-card-title>{{ book.nombre | uppercase }}</mat-card-title>
        <mat-card-subtitle>
            <p>{{ book.isbn }}</p>
            <button mat-menu-item (click)="deleteBook($book.isbn)">Eliminar</button>
            <button mat-menu-item (click)="updateBook($book.isbn)">Actualizar</button>
        </mat-card-subtitle>
        <mat-card-content>

        </mat-card-content>
       
    </mat-card>
</div>

